body {
  font-family: monospace;
  font-size: 1.5rem;
  padding: 2rem;
}

h1 {
  color: crimson;
}

.second-line {
  font-style: italic;
}

strong {
  color: darkgoldenrod;
}

.type {
  color: coral;
}