body {
  font-family: monospace;
  font-size: 1.2rem;
  padding: 5vw;
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: #262626;
  color: gold;
}

@media (min-width: 768px) {
  body {
    font-size: 1.5rem;
    padding: 2rem;
  }
}

h1 {
  color: crimson;
  margin: 0;
}

.second-line {
  font-style: italic;
  margin: 0;
}

a {
  color: crimson;
  text-decoration: none;
}

a:hover {
  text-decoration: wavy underline goldenrod;
}

strong {
  color: darkgoldenrod;
}

.type {
  color: coral;
}

.hide {
  visibility: hidden;
}
