body {
  font-family: monospace;
  font-size: 1.5rem;
  padding: 2rem;
}

h1 {
  color: crimson;
  margin: 0;
}

.second-line {
  font-style: italic;
  margin: 0;
}

a {
  color: crimson;
  text-decoration: none;
}

a:hover {
  text-decoration: wavy underline overline goldenrod;
}

strong {
  color: darkgoldenrod;
}

.type {
  color: coral;
}